@function size($size-in-px) {
  @return $size-in-px / 16px * 1rem;
}

@function size-desktop($size-in-px) {
  @return $size-in-px / 1400px * 100vw;
}

@function size-mobile($size-in-px) {
  @return $size-in-px / 360px * 100vw;
}

.MuiButton-root {
  max-width: size-desktop(200px);

  @media (max-width: 1399px) {
    max-width: 200px;
  }

  @media (max-width: 1199px) {
    max-width: none;
  }
}

.MuiButton-root.css-sghohy-MuiButtonBase-root-MuiButton-root {
  padding: size-desktop(6px) size-desktop(16px);

  @media (max-width: 1399px) {
    padding: 6px 16px;
  }
}