@use "sass:math";

@function size-desktop($size-in-px) {
  @return math.div($size-in-px, 1400px) * 100vw;
}
.info-element {
  display: flex;
  flex-direction: column;
  row-gap: size-desktop(10px);

  @media (max-width: 1399px) {
    row-gap: 10px;
  }

  @media (max-width: 1024px) {
    width: max-content;
  }

  &__hint {
    position: absolute;
    width: size-desktop(140px);
    height: auto;
    background-color: lightgray;
    right: size-desktop(8px);
    top: size-desktop(-10px);
    transform: translate(50%,-100%);
    padding: size-desktop(15px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    @media (max-width: 1399px) {
      width: 140px;
      right: 8px;
      top: -10px;
      padding: 15px
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 0;
      height: 0;
      border-left: size-desktop(10px) solid transparent;
      border-right: size-desktop(10px) solid transparent;
      border-top: size-desktop(10px) solid lightgray;

      @media (max-width: 1399px) {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid lightgray;
      }
    }
  }

  &__counts {
    white-space: nowrap;
  }

  &__wrapper-name {
    position: relative;
    display: flex;
    justify-content: flex-start;
    column-gap: size-desktop(10px);

    @media (max-width: 1399px) {
      column-gap: 10px;
    }

    svg {
      position: relative;
      transition: transform .3s ease-in-out;
    }

    svg:hover {
      cursor: pointer;
      transform: rotate(360deg);
    }

    svg:hover ~ .info-element__hint,
    svg:focus ~ .info-element__hint {
      opacity: 1;
      visibility: visible;
    }
  }

  &__name {
    text-align: left;
    font-weight: 400;
    font-size: size-desktop(14px);
    line-height: size-desktop(20px);
    margin: 0;

    @media (max-width:1399px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__wrapper-info {
    display: flex;
    justify-content: flex-start;
    column-gap: size-desktop(5px);
    font-weight: 700;
    font-size: size-desktop(18px);
    line-height: size-desktop(26px);

    @media (max-width: 1399px) {
      column-gap: 5px;
      font-size: 18px;
      line-height: 26px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}