.info-element {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @media (max-width: 1024px) {
    width: max-content;
  }

  &__hint {
    position: absolute;
    width: 140px;
    height: auto;
    background-color: lightgray;
    right: 8px;
    top: -10px;
    transform: translate(50%,-100%);
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid lightgray;
    }
  }

  &__counts {
    white-space: nowrap;
  }

  &__wrapper-name {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    svg {
      position: relative;
      transition: transform .3s ease-in-out;
    }

    svg:hover {
      cursor: pointer;
      transform: rotate(360deg);
    }

    svg:hover ~ .info-element__hint,
    svg:focus ~ .info-element__hint {
      opacity: 1;
      visibility: visible;
    }
  }

  &__name {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  &__wrapper-info {
    display: flex;
    justify-content: flex-start;
    column-gap: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}