$second-color: #D35100;

.MuiButtonBase-root {
  padding: 5px 10px!important;
  text-transform: none;
}

:root[data-theme='dark'] {
  .MuiToggleButton-root.MuiButtonBase-root.Mui-selected {
    color: $second-color;
  }
}