@use "sass:math";

@function size-desktop($size-in-px) {
  @return math.div($size-in-px, 1400px) * 100vw;
}

:root[data-theme="dark"] {
  .MuiButtonBase-root {
   background-color: #F5F5F5;
  }
  .MuiToggleButton-root.Mui-selected {
    background-color: #F8A945;
  }
}

.MuiToggleButtonGroup-root {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  @media (max-width: 768px) {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
}

.MuiButtonBase-root {
  padding: size-desktop(13px) !important;

  @media (max-width: 1399px) {
    padding: 11px !important;
  }
}

button {
  position: relative;

  div {
    position: absolute;
    top: size-desktop(-10px);
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: auto;
    padding: size-desktop(10px);
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    color: #fff;
    box-sizing: border-box;
    z-index: 100;

    @media (max-width: 1399px) {
      top: -10px;
      padding: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 0;
      height: 0;
      border-left: size-desktop(10px) solid transparent;
      border-right: size-desktop(10px) solid transparent;
      border-top: size-desktop(10px) solid #000;

      @media (max-width: 1399px) {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #000;
      }
    }
  }
  
  &:hover {
    @media (hover: hover) and (pointer: fine) {
      div {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.button-helper {
  text-transform: none;
  border-radius: size-desktop(10px);

  @media (max-width: 1399px) {
    border-radius: 10px;
  }
}