.MuiTextField-root {
  width: 100%;
}

.slider-input-wrapper {
  position: relative;

  @media (max-width: 767px) {
    span {
      display: none;
    }
  }

  .MuiSlider-markLabel {
    top: 30px;
  }
 
  .MuiSlider-colorPrimary {
    position: absolute;
    top: 56px;
    left: 0;
    transform: translate(0, -50%);
    margin: 0;
  }

  .MuiSlider-rail {

  }
}