.MuiTextField-root {
  width: 100%;
}

.slider-input-wrapper {
  position: relative;

  .MuiSlider-colorPrimary {
    position: absolute;
    top: 56px;
    left: 0;
    transform: translate(0, -50%);
    margin: 0;
  }

  .MuiSlider-rail {

  }
}