@function size-desktop($size-in-px) {
  @return $size-in-px / 1400px * 100vw;
}

.table-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: size-desktop(500px);
  margin: size-desktop(40px) 0 0;

  @media (max-width: 1399px) {
    height: 500px;
    margin: 40px 0 0;
  }

  h2 {
    margin: size-desktop(35px) auto;

    @media (max-width: 1399px) {
      margin: 40px 0 20px;
    }
  }

  & > div:first-of-type {
    max-width: max-content;
  }
}

.MuiTableCell-root {
  white-space: nowrap;
}

.MuiPaper-root {
  overflow: auto !important; 
  //overflow-y: hidden !important;
}

.MuiTableContainer-root {
  overflow-x: visible !important;
}
