@use "sass:math";

@function size-desktop($size-in-px) {
  @return math.div($size-in-px, 1400px) * 100vw;
}

:root[data-theme="light"] {
  --background-color: #fafafa;
}

:root[data-theme="dark"] {
  --background-color: #191921;
}

body {
  margin: 0;
  width:100vw;
  overflow-x:hidden;
  height: 100%;
  background: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: size-desktop(18px);

  @media (max-width: 1399px) {
    font-size: 16px;
  }
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

